

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: whitesmoke;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Lobster', cursive;
}

#Box{
  width: 25rem;
  height: 25rem;
  border: solid 1px black;
  margin: 0 auto;
  margin-top: 2rem;
}

.Buttons button{
  margin: 1rem;
  border-radius: 12px;
}

.Reset button{
  border-radius: 12px;
  margin-top: 40px;
  padding: 1em;
}

.ColourBox{
  font-family: 'Lobster', cursive;
}





